/***** kits components */
.profile-account {
    @apply grid grid-cols-[max-content_auto] gap-2 
            leading-none items-center;
}

/* date time picker */
.date-time-picker {
    @apply w-max flex rounded-xl border dark:border-default-300/20;
}
.time-picker {
    @apply w-[98px] max-h-full border-l dark:border-default-300/20 relative
            grid grid-cols-[1fr_max-content_1fr];
}
.time-section {
    @apply !p-0 !absolute inset-2 !overflow-auto z-10;
}
.time-section::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.selected-section {
    @apply absolute inset-[4px_-40px_auto] left-2/4 -translate-x-2/4
            h-10 border-2 border-foreground rounded grid place-content-center
            snap-start snap-mandatory;
}

/* add task bar */
.task-bar {
    @apply bg-primary-100/65 backdrop-blur-sm border-none !rounded-xl !px-1 !transition-all;
}

/* :task item */
.task-item {
    @apply grid grid-cols-[max-content_auto_max-content] w-full p-1 
            hover:bg-primary-100 rounded-xl outline-none transition-all;
}
.task-content {
    @apply grid grid-rows-[minmax(40px,_max-content)_max-content];
}
.task-sub-detail {
    @apply flex items-start flex-col sm:flex-row gap-2 px-2 pb-2;
}

/* :task details section */
.task-details-header {
    @apply flex justify-between items-center mb-3;
}
.task-details-main {
    @apply grid grid-rows-[max-content_minmax(150px,auto)_max-content];
}
.task-details-CTA {
    @apply grid grid-cols-2 gap-2;
}
.subtasks-con {
    @apply mt-3 space-y-2 grid grid-rows-[repeat(2,max-content)_auto];
}
.subtask-counter {
    @apply w-[14px] h-[14px] bg-primary-200 dark:bg-primary-200/60 text-white rounded-[3px] grid place-items-center;
}

/* empty state tasks */
.empty-state {
    @apply absolute inset-0 flex flex-col items-center justify-center text-center;
}

/* task loading skeleton */
.task-loading-skeleton {
    @apply absolute inset-0 flex flex-col gap-2 px-5 py-[80px];
}
.skeleton-card {
    @apply !grid grid-cols-[max-content_auto_max-content] gap-x-3 p-2 rounded-xl !bg-primary-100 !shadow-none border border-primary-300;
}

/* sticky notes style */
.sticky-note {
    @apply grid grid-rows-[max-content_auto] !shadow-none;
}
