/***** kits components */
.profile-account {
    @apply grid grid-cols-[max-content_auto] gap-2 
            leading-none items-center;
}

/* date time picker */
.date-time-picker {
    @apply w-max flex rounded-xl border dark:border-default-300/20;
}
.time-picker {
    @apply w-[98px] max-h-full border-l dark:border-default-300/20 relative
            grid grid-cols-[1fr_max-content_1fr];
}
.time-section {
    @apply !p-0 !absolute inset-2 !overflow-auto z-10;
}
.time-section::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.selected-section {
    @apply absolute inset-[4px_-40px_auto] left-2/4 -translate-x-2/4
            h-10 border-2 border-foreground rounded grid place-content-center
            snap-start snap-mandatory;
}

/* add todo bar */
.todo-bar {
    @apply bg-primary-100 border-none !rounded-xl !px-1 !transition-all;
}
.todo-options {
    @apply flex;
}

/* :todo item */
.todo-item {
    @apply grid grid-cols-[max-content_auto_max-content] p-1 
            hover:bg-primary-100 rounded-xl transition-all cursor-pointer;
}
.todo-content {
    @apply grid grid-rows-[40px_max-content];
}
.todo-sub-detail {
    @apply flex gap-2 px-2 pb-2;
}

/* :todo details section */
.todo-details-header {
    @apply flex justify-between items-center mb-3;
}
.todo-details-btn {
    @apply !border-opacity-40 hover:!border-opacity-100 !justify-start !p-3;
}
.todo-details-main {
    @apply grid grid-rows-[max-content_auto_max-content];
}
.todo-details-CTA {
    @apply grid grid-cols-2 gap-2;
}
.subtasks-con {
    @apply mt-3 space-y-2 grid grid-rows-[repeat(2,max-content)_auto];
}

/* empty state tasks */
.empty-state-tasks {
    @apply absolute inset-0 flex flex-col items-center justify-center text-center;
}